package $program.pckge;
import org.slf4j.Logger;
import org.slf4j.LoggerFactory;

import java.sql.*;

public class $program.name   {

#foreach( $variable in $program.variables )
 	$variable.expression()
#end

    public static void main(String[] args) {
        $program.name job = new $program.name ();
        job.$program.functions[0].name ();
    }

#foreach( $function in $program.functions )
    public void $function.name () {
#foreach( $method in $function.methods)
        $method.expression();
#end
    }
#end
    #** Comment this out to stop playing with DB2 *#
    #parse( "db2-template.vm" )
}

#**
*
 To add DB --  notes:
 Add JDBC bingings if there is a variable named SQLCA.

 Connection dbConnection = null;
 try {
    dbConnection = getDBConnection();

    // Call prodDiv here

 } catch (SQLException e) {
     e.printStackTrace();
 } finally {
     try {
        dbConnection.close();
    } catch (SQLException e) {
        e.printStackTrace();
        }

 }

 // Assumes Procdiv sql select into currently
 // Gen a normal prepared statment.
 // Use a normal JDBC select boilerplate
 // Generate marker substituion from JSON method: sqlargs array of strings.

 *#
