package $program.pckge;
import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import khs.cobol.transformer.runtime.Display;
import khs.cobol.transformer.runtime.Database;

#set( $parenPair = "()" )

public class $program.name   {
    private static Logger Log = LoggerFactory.getLogger("$program.name");

#foreach( $variable in $program.variables )
 	$variable.expression()
#end

    public static void main(String[] args) {
        $program.name job = new $program.name$parenPair;
        job.$program.functions[0].name$parenPair;
    }

#foreach( $function in $program.functions )
    public void $function.name () {
#foreach( $method in $function.methods)
        $method.expression()
#end
    }
#end
}
